body{
  margin: 0% !important;
}

html {
  background: #066AA3;  /* fallback for old browsers */
  color: white;
  font-family: 'Boogaloo', cursive;
  
}

button {
  background-color: #080808;
  font-family: 'Boogaloo', cursive;
  border-color: #080808;
  color: white;
  font-size: 24PX;

}

.form-button button {
  background-color: #080808;
  font-family: 'Boogaloo', cursive;
  border-color: #080808;
  color: white;
  font-size: 28PX;
  width: 100px;
  height: 50px;

}

.form-input input {
  height: 50px;
  border-radius: 5px;
  border: 3px solid;
  border-color: #00A3FF;
  font-family: 'Boogaloo', cursive;
  font-size:24px;
  background: transparent;
  color: #B2ADAD;

}

.input-gray {
  background: transparent;
  color: #B2ADAD;
}

.list-players .new-player {
  display: flex;
  padding-right: 0px !important;
}

.new-player img{
  flex: 1;
}

.new-player p{
  flex: 2;
  font-size: 24px;
  margin: 10px 40px;
}


.form-input select {
  height: 50px;
  border-radius: 5px;
  border: 3px solid;
  border-color: #00A3FF;
  font-family: 'Boogaloo', cursive;
  font-size:24px;
  background: transparent;
  color: gray;
}


body h1.title {
  text-align: center;
 
}

div #galaxy {
  width: 100%;
  height: 700px;
  position: relative;
  display:none;
  background-color: #07011A;

}

.nopadding {
  padding: 0% !important;
}

div#id_room {
  display:none;

}

img.starship {
  width: 200px;
  height: 200px;
  position: absolute;
  visibility: hidden;
}

img.starship.small {
  width: 50px;
  height: 50px;
}

/*display:none;*/

div#players {
  
  position: relative;
  display: none;

}

.border{

  border-top: 2px solid black;
}

.center{
  text-align: center;
}


.title-code{
  margin: 20px;
  display: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}

.number-code{
  background-color: white;
  color: #080808;
  padding: 10px;
  margin: 20px;
  display: none;
  font-style: normal;

}

.right{
  text-align: right;
} 

.list-players h2 { 

  font-size: 30px;
  margin: 0px;
  font-style: normal;
  font-weight: normal;

}


.list-players h3 { 

  font-size: 24px;
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  text-align: right;

}


.userIcon{
  width: 50px;
}

.user{
  display: inline-flex;
}

/* from w3schools.com  */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.form-input {
  margin: 0 auto;
}

.form-label {
  margin: 0 auto;
}

.form-button {
  text-align: left;
  min-width: 30%;
}

input {
  width: 100%;
}

select { 
  width: 100%;
}


#form-join { 
  display: none;
}

#form-create { 
  display: none;
}

#message { 
  display: none;
  position: relative;
  text-align: center;
}

#myimage { 
  height: 80px;
  width: 80px;
}

.button-init{
  text-align: center;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.laser {
  width: 20px;
  height: 20px;
  position: absolute;
}

.wrong-code {
  border-color: red;
  background-color: salmon;
  color: black;
  border-radius: 5px;
}

#img-title { 
  width: 300px;
  display: block;
  margin: 0 auto;

}

#img-logo { 
  width: 250px;
  display: block;
  margin: 0 auto;

}

/* Stark Trek */


/* Stark Trek
position: absolute;
width: 469px;
height: 119px;
left: 472px;
top: 351px;

background: url(image.png);
 */